/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #d5e0e2;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilos para el contenedor de los select */
  .container-selects {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  /* Estilos para las etiquetas */
  .label-select {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
  }
  
  /* Estilos para los select */
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f0f0f0; /* Color de fondo */
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del borde */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  /* Estilo para la opción por defecto */
  select option:first-child {
    color: #999;
  }
  
  /* Estilos para mejorar la apariencia en focus */
  select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  